@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    background:linear-gradient(rgb(29, 36, 34),rgb(12, 36, 25));
    margin: 0%;
    color: aliceblue;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#menu{
    list-style-type: none;
    padding: 0%;
    background:linear-gradient(rgba(28, 190, 63, 0.829),rgba(29, 110, 74, 0.644));
    margin-bottom: 3px;
}

#menu li {
    display: inline;
}

#menu li a  {
    color: rgb(255, 255, 255);
    display: inline;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

#menu li a:hover{
    background-color: rgb(204, 132, 44);
}

.imag{
    border: 0px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.title {
    color: rgba(37, 179, 101, 0.925);;
}

.di{
    display: flex;
}

.lado-nav {
    width: 200px;
    background:linear-gradient(rgb(32, 32, 32),rgba(32, 138, 67, 0.404));
    padding: 20px;
    font-size: 14px;
}

.lado-nav ul {
    list-style: none;
    padding: 0;
}
  
.lado-nav li {
    margin-bottom: 10px;
}
  
.lado-nav a {
    text-decoration: none;
    color: aliceblue;
}
  
.lado-nav a:hover {
    color: #007bff;
}

.principal-content {
    flex: 1;
    padding: 10px;
}

.cxPrincipal {
    display: inline-block;
    width: 100%;
    height: 255px;
}

.copa {
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px 20px;
    width: 49.8%;
}

.jogando {
    display: inline-block;
    padding: 7px 20px;
    width: 49.8%;
}

.apostasPrincipal button{
    background-color: rgba(128, 128, 128, 0);
    color: aliceblue;
    font-size: 15px;
    display: inline-block;
    padding: 25px 60px 25px 20px;
    border: none;
    cursor: pointer;
    margin-left: 1px;
}

.apostasPrincipal p {
    color: rgb(0, 255, 0);
    display: inline;
}

.jogos {
    background-color: rgba(128, 128, 128, 0.603);
    display: inline-block;
    width: 22.9%;
    height: 130px;
    border-radius: 10px;
    margin: 10px;
}

.cxTimes {
    width: 100%;
    height: 100px;
    margin-left: 3px;
}

.hor {
    text-align: center;
    font-size: 10px;
}

.times {
    width: 60px;
    height: 50px;
    display: inline;
    margin-top: 3px;
    margin-left: 28px;
    margin-right: 28px;
}

.nomeTimes {
    display: inline-block;
    text-align: center;
    width: 121.9px;
    height: 25px;
}

.apostas button{
    background-color: rgba(128, 128, 128, 0);
    color: aliceblue;
    font-size: 12px;
    padding: 4px 26.7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1px;
}

.apostas p {
    color: rgb(0, 255, 0);
    display: inline;
}


button:hover {
    background-color: rgb(22, 51, 24);
}


.slider{
    width: auto;
    height: auto;
    overflow: hidden;
    position: sticky;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 25%;
    transition: 0.2s;
}

.slide img{
    width: 100%;
    height: 80%;
    border-bottom: 1px solid rgb(28, 94, 77);  
}

.navigation-bar{
    position: absolute;
    bottom: 20px;
    left: 50%;
    bottom: 21%;
    transform: translate(-50%);
    display: flex;
}

input{
    display: none;
}

.manual-btn{
    border: 2px solid ; 
    border-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}
 
.manual-btn:hover{
    background: #fff;
    transition: 0.4s; 
}
 
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

footer{
    width: 100%;
    min-height: 50px;
    display: flex;
    background-color: rgb(31, 32, 34);
    border-top: 3px solid rgb(5, 177, 111);
}

footer .boxs{
    width: 620px;
    min-height: 150px;
    padding: 20px;
}
  
.boxs ul li {
    list-style: none;
}

.boxs li{
    color: rgb(104, 110, 109);
}

.imgseguranca{
    display: flex;
    margin-left: 123px;
    height: 47px;
    width: auto;
}

.rodape{
    background-color:rgb(31, 32, 34) ;
}
 
.aovivo {
    background-color: #007bff;
    display: block;
    width: 100%;
    height: 300px;
}

.linha {
    background-color: aqua;
    display: block;
    width: 100%;
    height: 30%;
    border: 1px solid rgb(87, 87, 87);
}

.aovivoCx {
    background-color: brown;
    display: inline-block;
    width: 55%;
    height: 100%;
    border-right: 1px solid rgb(87, 87, 87);
}

.aovivoTimes {
    background-color: blueviolet;
    display: inline-block;
    width: 49.4%;
    height: 65%;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.aovivoPlacar {
    background-color: chartreuse;
    display: inline-block;
    width: 49.4%;
    height: 65%;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
    text-align: end;
}

.aovivoHora {
    background-color: chocolate;
    display: block;
    width: 49.4%;
    height: 32%;
    padding-left: 20px;
    font-size: 10px;
}
 
.aovivoBotoes {
    background-color: darkblue;
    display: inline-block;
    width: 485px;
    height: 75px;
}
 
.aovivoBotoes button {
    background-color: #fff;
    display: inline;
    width: 32.7%;
    height: 60px;
    text-align: center;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
    background:linear-gradient(rgb(32, 32, 32),rgba(32, 138, 67, 0.404));
}

th, td {
    border: 1px ;
    text-align: center;
    width: 14.3%;
    height: 50px;
    padding: 8px;
}

th {
    font-weight: bold;
}

.botao button{
    width: 100%;
    height: 100%;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0);

}
.botao button:hover {
    background-color: black;
}

footer{
    width: 100%;
    min-height: 50px;
    display: flex;
    background-color: rgb(31, 32, 34);
    border-top: 3px solid rgb(5, 177, 111);
}
   
footer .boxs{
    width: 620px;
    min-height: 150px;
    padding: 20px;
}

.boxs ul li{
   list-style: none;
}
   
.boxs li{
    color: rgb(104, 110, 109);
}
   
.imgseguranca{
    display: flex;
    margin-left: 123px;
    height: 47px;
    width: auto;
}
   
.rodape{
    background-color:rgb(31, 32, 34) ;
}
