@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body {
 
  
    background:linear-gradient(rgb(25, 32, 31),rgb(10, 34, 23));
    
   
    color: aliceblue;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#menu{
    list-style-type: none;
    padding: 0%;
    background-color: rgb(29, 139, 78);
    margin-bottom: 10px;
}
#menu li {
    display: inline;
}
#menu li a  {
    
    color: rgb(255, 255, 255);
    display: inline;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
#menu li a:hover{
    background-color: rgb(214, 134, 36);
}

#di {
   
    background:linear-gradient(rgb(32, 32, 32),rgba(32, 138, 67, 0.404));
    
    display: inline-block;
    padding: 1px;
    padding-left: 8px;
}
